@import url('https://rsms.me/inter/inter.css');
html,
body {
  background-color: #f9f7f7;
  font-family: "Inter", sans-serif;
  height: 100vh;
  max-width: 100%;
  margin: auto;
}
* {
  margin: 0px;
  padding: 0px;
}
